body {
    overflow: hidden;
  font-family: Arial, sans-serif;
  background: #55688B;
}
h1 { 
  color: #55688B; 
}
main {
  width: 80%;
  margin: auto; 
  padding: 30px; 
  background: #F5F5F5; 
  border-radius: 10px;
}
h1 {
	font-size: 40px;
}
p {
	font-size: 20px;
}
li {
	display: inline-block;
	margin: 2px;
	padding: 10px 10px 10px 10px;
	border: none;
	border-radius: 0px 9px 0px 9px;
	background: #F5F5F5;
}
nav {
	width: 70%;
	position: relative;
	right: 20px;
}
a {
	text-decoration: none;
	color: #55688B;
}
img {
	width 20px;
	height: 20px;
}
button {
	color: #F5F5F5;
	background: #ACCBEC;
	margin: 10px;
	padding: 10px 10px 10px 10px;
	border: solid 1px #ACCBEC;
	border-radius: 0px 9px 0px 9px;
}
